@import "tailwindcss";

@font-face {
    font-family: 'HankenGrotesk';
    src: url('../assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'HankenGrotesk';
    src: url('../assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'HankenGrotesk';
    src: url('../assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}


@theme {
  --font-hanken: "HankenGrotesk", sans-serif;
}